  #login{
    background: url(../photo/motpath.svg);
    width: 100%;
    height: 100vh;
    background-color:#EFEFEF;
   

    // .color-overlay{
    //     background-color: #272727;
    //     width: 100%;
    //     height: 100vh;
    //     opacity: .4;
    // }
    .svg{
        position: relative;
        .menu-logo{
            width: 110px;
            position: absolute;
            top: 30px;
            left:21%;
        }
    }
}
//  Login ///

// Create ///
#create{
    position: relative;
    
    .create-ac{
        background: #fff;
        border: 1px solid #fff;
        border-radius: 15px;
        position: absolute;
        top: 100px;
        left: 21%;
        text-align:left;
        padding: 80px 80px;
        width: 58%;
        line{
            position: absolute;
            right: 0;
            bottom:0 ;
            border: solid 1px #ee5586;
            .big-line{
                width: 30px;
            }
        }
        h3{
            color:#272727;
            font-weight: 500;
            font-family:sans-serif;
        }
        p{
            color: #272727;
        }
        .al{
            border: 15px 20px;
            border-radius: 15px;
            border: 1px solid #EE5586;
            background: #EE5586;
            color: #fff;
            font-weight:700;
            font-size: 12px;
            transition: .4s;
            padding: 5px 15px;
            &:hover{
                transform: translateY(-5px);
                transition: .4s;
            }
       
        }
        .cr{
            border: 15px 20px;
            border-radius: 15px;
            border: 1px solid #B3B3B3;
            background:#B3B3B3;
            color: #fff;
            font-weight:700;
            font-size: 12px;
            transition: .4s;
            padding: 5px 15px;
            &:hover{
                transform: translateY(-5px);
                transition: .4s;
            }
        }
        .customer-login{
            position: relative;
            .customer-tittle{
                h4{
                    font-weight:600 !important;
                    font-size: 16px;
                }
            }
            .right{
                position: absolute;
                top: 3px;

            }
        }
    }
}


//  Chat //
.imp{
    position: fixed;
    bottom: 2%;
    right: 2%;
    padding: 20px;
    background: #fff;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
}

#chat{
    position: fixed;
    bottom: 12%;
    right: 2%;
    z-index: 1000;

    .main-chat{
    position: relative;
    bottom: 100%;
    right: 0;
    width: 340px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    display: none;
    &.active{
        display:block;
    }
    .top{
        p{
            font-size: 14px;
            text-align: center;
        }
    }
    .bottom{
        padding: 20px;
        border: 1px solid #ccc;
        input{
            width: 100%;
            padding: 5px 10px;
            border: 1px solid #ccc;
            margin: 5px 0;
            border-radius: 5px;
        }
        .l-input{
            padding: 15px 10px;
        }
        button{
            width: 100%;
            padding: 10px 0;
            background: transparent;
            border: none;
            border-radius: 10px;
            margin-top: 10px;
            &:hover{
                background-color: grey;
            }
        }
    }
    }

}